@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Titillium+Web:wght@700&display=swap');

:root {
    --font-clr: #F5F5F5;
    --highlight-clr: #dbaa22;
    --secondary-clr: #0c0c0c;
    --bg-clr: #080808;
    
    --primary-font: 'Titillium Web', sans-serif;
    --secundary-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--bg-clr);
    color: var(--font-clr);
    font-family: var(--secundary-font);
}

header {
    border-top: var(--highlight-clr) solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctb-container {
    background-color: var(--highlight-clr);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}
.ctb-balance {
    font-family: var(--primary-font);
}

.main-container {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slot-machine {
    background-color: var(--secondary-clr);
    border-bottom: var(--highlight-clr) solid 2px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.slot-machine-content {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 1rem;
}

.slot {
    background-color: var(--bg-clr);
    width: 16rem;
    height: 16rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slot-icon {
    width: 50%; 
}

.slot-machine-lever {
    font-size: 150%;
    background-color: var(--highlight-clr);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 2% 5%;
    transition: 0.5s;
}

.slot-machine-lever:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .main-container {
        padding: 2rem;
    }
    .slot {
        width: 100%;
        height: 100%;
        padding: 5%;
    }
    .slot-icon {
        width: 100%;
        height: auto;
    }    
}
